In [1]:
import pandas

In [2]:
rhein = pandas.read_csv("100046-Rhein2023.csv", sep=";")
rhein

,Startzeitpunkt,Start_text,Endezeitpunkt,Ende_text,Elektrische Leitfähigkeit [µS/cm],Sauerstoffgehalt [mg/L],pH-Wert,Temperatur [°C]
0,2023-02-13T02:45:00+00:00,13.02.2023 03:45:00,2023-02-13T03:00:00+00:00,13.02.2023 04:00:00,432.6,13.07,8.16,5.27
1,2023-02-13T03:45:00+00:00,13.02.2023 04:45:00,2023-02-13T04:00:00+00:00,13.02.2023 05:00:00,431.5,13.10,8.16,5.27
2,2023-02-13T04:15:00+00:00,13.02.2023 05:15:00,2023-02-13T04:30:00+00:00,13.02.2023 05:30:00,431.3,13.13,8.17,5.26
3,2023-02-13T02:30:00+00:00,13.02.2023 03:30:00,2023-02-13T02:45:00+00:00,13.02.2023 03:45:00,433.3,13.06,8.16,5.28
4,2023-01-30T04:15:00+00:00,30.01.2023 05:15:00,2023-01-30T04:30:00+00:00,30.01.2023 05:30:00,422.3,12.20,8.05,5.63
...,...,...,...,...,...,...,...,...
16530,2023-06-23T08:45:00+00:00,23.06.2023 09:45:00,2023-06-23T09:00:00+00:00,23.06.2023 10:00:00,332.5,7.71,7.89,22.35
16531,2023-06-23T07:00:00+00:00,23.06.2023 08:00:00,2023-06-23T07:15:00+00:00,23.06.2023 08:15:00,337.6,7.61,7.84,22.33
16532,2023-06-23T10:45:00+00:00,23.06.2023 11:45:00,2023-06-23T11:00:00+00:00,23.06.2023 12:00:00,331.1,7.78,7.92,22.43
16533,2023-06-23T11:30:00+00:00,23.06.2023 12:30:00,2023-06-23T11:45:00+00:00,23.06.2023 12:45:00,331.6,7.78,7.92,22.47
16534,2023-06-23T12:15:00+00:00,23.06.2023 13:15:00,2023-06-23T12:30:00+00:00,23.06.2023 13:30:00,330.6,7.75,7.92,22.51

In [3]:
rhein['minute']  = rhein['Startzeitpunkt'].str.slice(0,16).astype(str) ## variable
rhein

,Startzeitpunkt,Start_text,Endezeitpunkt,Ende_text,Elektrische Leitfähigkeit [µS/cm],Sauerstoffgehalt [mg/L],pH-Wert,Temperatur [°C],minute
0,2023-02-13T02:45:00+00:00,13.02.2023 03:45:00,2023-02-13T03:00:00+00:00,13.02.2023 04:00:00,432.6,13.07,8.16,5.27,2023-02-13T02:45
1,2023-02-13T03:45:00+00:00,13.02.2023 04:45:00,2023-02-13T04:00:00+00:00,13.02.2023 05:00:00,431.5,13.10,8.16,5.27,2023-02-13T03:45
2,2023-02-13T04:15:00+00:00,13.02.2023 05:15:00,2023-02-13T04:30:00+00:00,13.02.2023 05:30:00,431.3,13.13,8.17,5.26,2023-02-13T04:15
3,2023-02-13T02:30:00+00:00,13.02.2023 03:30:00,2023-02-13T02:45:00+00:00,13.02.2023 03:45:00,433.3,13.06,8.16,5.28,2023-02-13T02:30
4,2023-01-30T04:15:00+00:00,30.01.2023 05:15:00,2023-01-30T04:30:00+00:00,30.01.2023 05:30:00,422.3,12.20,8.05,5.63,2023-01-30T04:15
...,...,...,...,...,...,...,...,...,...
16530,2023-06-23T08:45:00+00:00,23.06.2023 09:45:00,2023-06-23T09:00:00+00:00,23.06.2023 10:00:00,332.5,7.71,7.89,22.35,2023-06-23T08:45
16531,2023-06-23T07:00:00+00:00,23.06.2023 08:00:00,2023-06-23T07:15:00+00:00,23.06.2023 08:15:00,337.6,7.61,7.84,22.33,2023-06-23T07:00
16532,2023-06-23T10:45:00+00:00,23.06.2023 11:45:00,2023-06-23T11:00:00+00:00,23.06.2023 12:00:00,331.1,7.78,7.92,22.43,2023-06-23T10:45
16533,2023-06-23T11:30:00+00:00,23.06.2023 12:30:00,2023-06-23T11:45:00+00:00,23.06.2023 12:45:00,331.6,7.78,7.92,22.47,2023-06-23T11:30
16534,2023-06-23T12:15:00+00:00,23.06.2023 13:15:00,2023-06-23T12:30:00+00:00,23.06.2023 13:30:00,330.6,7.75,7.92,22.51,2023-06-23T12:15

In [4]:
rhein_kurz = rhein.loc[:, ['Temperatur [°C]', 'minute']]
print(rhein_kurz)

       Temperatur [°C]            minute
0                 5.27  2023-02-13T02:45
1                 5.27  2023-02-13T03:45
2                 5.26  2023-02-13T04:15
3                 5.28  2023-02-13T02:30
4                 5.63  2023-01-30T04:15
...                ...               ...
16530            22.35  2023-06-23T08:45
16531            22.33  2023-06-23T07:00
16532            22.43  2023-06-23T10:45
16533            22.47  2023-06-23T11:30
16534            22.51  2023-06-23T12:15

[16535 rows x 2 columns]

In [5]:
rosental = pandas.read_csv('100294-Rosental.csv', sep=";")
rosental

,Zeitstempel,Niederschlag,Luftfeuchtigkeit,Globalstrahlung [W/m2],Lufttemperatur,Windgeschwindigkeit,Windrichtung
0,2023-05-07T19:00:01+02:00,0.2,71.39,65.0,17.94,1.7,19.0
1,2023-05-07T23:00:01+02:00,0.4,94.71,0.0,15.00,0.8,309.0
2,2023-05-08T03:00:01+02:00,0.0,95.42,0.0,14.65,0.7,290.0
3,2023-05-08T14:00:01+02:00,0.0,77.39,266.0,16.86,1.0,42.0
4,2023-05-08T15:00:01+02:00,0.0,72.82,302.0,17.73,1.3,80.0
...,...,...,...,...,...,...,...
1300,2023-06-13T12:00:01+02:00,0.0,33.66,804.0,23.14,0.9,152.0
1301,2023-06-13T09:00:01+02:00,0.0,39.95,412.0,19.69,1.4,229.0
1302,2023-06-13T08:00:01+02:00,0.0,43.89,245.0,18.62,1.3,246.0
1303,2023-06-13T06:00:01+02:00,0.0,49.81,0.0,17.32,0.8,261.0
1304,2023-06-13T05:00:01+02:00,0.0,49.94,0.0,17.72,0.6,256.0

In [6]:
rosental['minute'] = rosental['Zeitstempel'].str.slice(0, 16).astype(str)
rosental

,Zeitstempel,Niederschlag,Luftfeuchtigkeit,Globalstrahlung [W/m2],Lufttemperatur,Windgeschwindigkeit,Windrichtung,minute
0,2023-05-07T19:00:01+02:00,0.2,71.39,65.0,17.94,1.7,19.0,2023-05-07T19:00
1,2023-05-07T23:00:01+02:00,0.4,94.71,0.0,15.00,0.8,309.0,2023-05-07T23:00
2,2023-05-08T03:00:01+02:00,0.0,95.42,0.0,14.65,0.7,290.0,2023-05-08T03:00
3,2023-05-08T14:00:01+02:00,0.0,77.39,266.0,16.86,1.0,42.0,2023-05-08T14:00
4,2023-05-08T15:00:01+02:00,0.0,72.82,302.0,17.73,1.3,80.0,2023-05-08T15:00
...,...,...,...,...,...,...,...,...
1300,2023-06-13T12:00:01+02:00,0.0,33.66,804.0,23.14,0.9,152.0,2023-06-13T12:00
1301,2023-06-13T09:00:01+02:00,0.0,39.95,412.0,19.69,1.4,229.0,2023-06-13T09:00
1302,2023-06-13T08:00:01+02:00,0.0,43.89,245.0,18.62,1.3,246.0,2023-06-13T08:00
1303,2023-06-13T06:00:01+02:00,0.0,49.81,0.0,17.32,0.8,261.0,2023-06-13T06:00
1304,2023-06-13T05:00:01+02:00,0.0,49.94,0.0,17.72,0.6,256.0,2023-06-13T05:00

In [7]:
rosental_kurz = rosental.loc[:, ['minute', 'Lufttemperatur']]
print(rosental_kurz)

                minute  Lufttemperatur
0     2023-05-07T19:00           17.94
1     2023-05-07T23:00           15.00
2     2023-05-08T03:00           14.65
3     2023-05-08T14:00           16.86
4     2023-05-08T15:00           17.73
...                ...             ...
1300  2023-06-13T12:00           23.14
1301  2023-06-13T09:00           19.69
1302  2023-06-13T08:00           18.62
1303  2023-06-13T06:00           17.32
1304  2023-06-13T05:00           17.72

[1305 rows x 2 columns]

In [8]:
rosental_kurz['minute']

0       2023-05-07T19:00
1       2023-05-07T23:00
2       2023-05-08T03:00
3       2023-05-08T14:00
4       2023-05-08T15:00
              ...
1300    2023-06-13T12:00
1301    2023-06-13T09:00
1302    2023-06-13T08:00
1303    2023-06-13T06:00
1304    2023-06-13T05:00
Name: minute, Length: 1305, dtype: object

In [9]:
rhein_kurz['minute']

0        2023-02-13T02:45
1        2023-02-13T03:45
2        2023-02-13T04:15
3        2023-02-13T02:30
4        2023-01-30T04:15
               ...
16530    2023-06-23T08:45
16531    2023-06-23T07:00
16532    2023-06-23T10:45
16533    2023-06-23T11:30
16534    2023-06-23T12:15
Name: minute, Length: 16535, dtype: object

In [19]:
merged = pandas.merge(rhein_kurz, rosental_kurz, on="minute", left_index=False, right_index=False)
res = merged.sort_values('minute')
res['diff'] = res['Temperatur [°C]'] - res['Lufttemperatur']
res['Datum'] = res['minute'].str.slice(0, 10)
res['Tageszeit'] =res['minute'].str.slice(11, 16)
res = res.loc[:, ['minute', 'Datum', 'Tageszeit', 'Temperatur [°C]', 'Lufttemperatur', 'diff']]
res = res.rename(columns={'Temperatur [°C]':'Wassertemperatur',
           'diff': 'WLdiff'}, copy=True)
print(res)

                minute       Datum Tageszeit  Wassertemperatur  \
156   2023-04-30T05:00  2023-04-30     05:00             12.32
136   2023-04-30T06:00  2023-04-30     06:00             12.30
741   2023-04-30T07:00  2023-04-30     07:00             12.28
742   2023-04-30T08:00  2023-04-30     08:00             12.24
139   2023-04-30T09:00  2023-04-30     09:00             12.20
...                ...         ...       ...               ...
1227  2023-06-23T08:00  2023-06-23     08:00             22.33
1263  2023-06-23T09:00  2023-06-23     09:00             22.37
1228  2023-06-23T10:00  2023-06-23     10:00             22.40
1266  2023-06-23T11:00  2023-06-23     11:00             22.45
1243  2023-06-23T12:00  2023-06-23     12:00             22.49

      Lufttemperatur  WLdiff
156            11.02    1.30
136            10.98    1.32
741            10.93    1.35
742            10.92    1.32
139            11.28    0.92
...              ...     ...
1227           18.22    4.11
1263           18.94    3.43
1228           19.71    2.69
1266           20.66    1.79
1243           21.72    0.77

[1302 rows x 6 columns]

In [20]:
res.to_csv('2023-06-23-merged.tsv', sep=",", index=False)